{
  "dashboard": {
    "folderUid": "app777Sel",
    "message": "deployment",
    "overwrite": true,
    "__inputs": [
      {
        "name"       : "influx_DS",
        "label"      : "Select InfluxDB Source",
        "description": "Choose the InfluxDB data source (Pri/Sec)",
        "type"       : "datasource",
        "pluginId"   : "influxdb",
        "pluginName" : "InfluxDB"
      }
    ],
    "__elements": {},
    "__requires": [
      {"type": "panel", "id": "gauge", "name": "Gauge", "version": ""},
      {
        "type"   : "grafana",
        "id"     : "grafana",
        "name"   : "Grafana",
        "version": "12.0.2"
      },
      {"type": "panel", "id": "heatmap", "name": "Heatmap", "version": ""},
      {
        "type"   : "datasource",
        "id"     : "influxdb",
        "name"   : "InfluxDB",
        "version": "1.0.0"
      },
      {
        "type"   : "panel",
        "id"     : "state-timeline",
        "name"   : "State timeline",
        "version": ""
      }
    ],
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {"type": "grafana", "uid": "-- Grafana --"},
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 0,
    "id": null,
    "links": [],
    "panels": [
      {
        "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {"mode": "thresholds"},
            "fieldMinMax": false,
            "mappings": [],
            "max": 100,
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {"color": "semi-dark-red"               },
                {"color": "#EAB839",         "value": 50},
                {"color": "#EF843C",         "value": 75},
                {"color": "semi-dark-green", "value": 90}
              ]
            },
            "unit": "percent"
          },
          "overrides": []
        },
        "gridPos": {"h": 5, "w": 4, "x": 0, "y": 0},
        "id": 4,
        "options": {
          "minVizHeight": 75,
          "minVizWidth": 75,
          "orientation": "auto",
          "reduceOptions": {
            "calcs": ["lastNotNull"],
            "fields": "",
            "values": false
          },
          "showThresholdLabels": false,
          "showThresholdMarkers": true,
          "sizing": "auto"
        },
        "pluginVersion": "12.0.2",
        "targets": [
          {
            "alias": "$tag_host",
            "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
            "query": "SELECT \n  (sum(\"running\") / count(\"running\")) * 100 AS \"availability_percent\"\nFROM \"app_metrics\"\nWHERE $timeFilter and zone = '$zone'\n",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "time_series"
          }
        ],
        "title": "Overall Service Availability",
        "type": "gauge"
      },
      {
        "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {"mode": "thresholds"},
            "fieldMinMax": false,
            "mappings": [],
            "max": 100,
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {"color": "semi-dark-yellow"             },
                {"color": "semi-dark-orange", "value": 25},
                {"color": "semi-dark-purple", "value": 50},
                {"color": "dark-red",         "value": 75}
              ]
            },
            "unit": "percent"
          },
          "overrides": []
        },
        "gridPos": {"h": 5, "w": 4, "x": 4, "y": 0},
        "id": 5,
        "options": {
          "minVizHeight": 75,
          "minVizWidth": 75,
          "orientation": "auto",
          "reduceOptions": {
            "calcs": ["lastNotNull"],
            "fields": "",
            "values": false
          },
          "showThresholdLabels": false,
          "showThresholdMarkers": true,
          "sizing": "auto"
        },
        "pluginVersion": "12.0.2",
        "targets": [
          {
            "alias": "$tag_host",
            "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
            "query": "SELECT (1 - (sum(\"running\") / count(\"running\"))) * 100 AS \"downtime_percent\"\nFROM \"app_metrics\"\nWHERE $timeFilter and zone = '$zone'\n",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "time_series"
          }
        ],
        "title": "Overall Service Downtime",
        "type": "gauge"
      },
      {
        "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
        "fieldConfig": {
          "defaults": {
            "color": {"mode": "palette-classic"},
            "custom": {
              "axisPlacement": "auto",
              "fillOpacity": 70,
              "hideFrom": {"legend": false, "tooltip": false, "viz": false},
              "insertNulls": false,
              "lineWidth": 0,
              "spanNulls": false
            },
            "mappings": [
              {
                "options": {
                  "0": {"color": "#bf3838", "index": 0, "text": "Down"  },
                  "1": {"color": "#3de65c", "index": 1, "text": "Active"}
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [ {"color": "green"}, {"color": "red", "value": 80} ]
            }
          },
          "overrides": []
        },
        "gridPos": {"h": 31, "w": 16, "x": 8, "y": 0},
        "id": 3,
        "options": {
          "alignValue": "center",
          "legend": {
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": false
          },
          "mergeValues": true,
          "rowHeight": 0.9,
          "showValue": "auto",
          "tooltip": {"hideZeros": false, "mode": "single", "sort": "none"}
        },
        "pluginVersion": "12.0.2",
        "targets": [
          {
            "alias": "$tag_host == $tag_app -- $tag_nodeIP",
            "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
            "query": "select last(running) from app_metrics where $timeFilter and app != 'Telegraf' and zone = '$zone' group by time(1m),app,host,nodeIP",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "time_series"
          }
        ],
        "title": "$zone Applications",
        "type": "state-timeline"
      },
      {
        "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
        "fieldConfig": {
          "defaults": {
            "custom": {
              "hideFrom": {"legend": false, "tooltip": false, "viz": false},
              "scaleDistribution": {"type": "linear"}
            }
          },
          "overrides": []
        },
        "gridPos": {"h": 26, "w": 8, "x": 0, "y": 5},
        "id": 6,
        "options": {
          "calculate": false,
          "cellGap": 1,
          "cellValues": {"unit": "percent"},
          "color": {
            "exponent": 0.5,
            "fill": "semi-dark-red",
            "max": 100,
            "min": 1,
            "mode": "scheme",
            "reverse": false,
            "scale": "exponential",
            "scheme": "RdYlGn",
            "steps": 49
          },
          "exemplars": {"color": "rgba(255,0,255,0.7)"},
          "filterValues": {"le": 1e-9},
          "legend": {"show": true},
          "rowsFrame": {"layout": "ge"},
          "tooltip": {
            "mode": "single",
            "showColorScale": true,
            "yHistogram": true
          },
          "yAxis": {"axisPlacement": "left", "reverse": true}
        },
        "pluginVersion": "12.0.2",
        "targets": [
          {
            "alias": "$tag_app",
            "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
            "query": "SELECT (1 - mean(\"running\")) * 100 AS \"downtime_percent\"\nFROM \"app_metrics\"\nWHERE $timeFilter and zone = '$zone'\nGROUP BY time(1h), \"app\" fill(0)\n",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "time_series"
          }
        ],
        "timeFrom": "24h",
        "title": "Downtime of Services in the Last 24 Hours",
        "type": "heatmap"
      }
    ],
    "schemaVersion": 41,
    "tags": [],
    "templating": {
      "list": [
        {
          "current": {},
          "name": "InfluxDB",
          "options": [],
          "query": "influxdb",
          "refresh": 1,
          "regex": "",
          "type": "datasource"
        },
        {
          "current": {},
          "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
          "definition": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"project\"",
          "name": "project",
          "options": [],
          "query": {
            "query": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"project\"",
            "refId": "InfluxVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "type": "query"
        },
        {
          "current": {},
          "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
          "definition": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"zone\" where project = '$project'",
          "name": "zone",
          "options": [],
          "query": {
            "query": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"zone\" where project = '$project'",
            "refId": "InfluxVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "type": "query"
        }
      ]
    },
    "time": {"from": "now-1h", "to": "now"},
    "timepicker": {
      "refresh_intervals": ["5m", "15m", "30m", "1h", "2h", "1d"]
    },
    "timezone": "browser",
    "title": "Applications Status",
    "uid": "777selAppStat",
    "version": 28,
    "weekStart": ""
  }
}
