{
  "dashboard": {
    "folderUid": "db777Sel",
    "message": "deployment",
    "overwrite": true,
    "__inputs": [
      {
        "name"       : "influx_DS",
        "label"      : "Select InfluxDB Source",
        "description": "Choose the InfluxDB data source (Pri/Sec)",
        "type"       : "datasource",
        "pluginId"   : "influxdb",
        "pluginName" : "InfluxDB"
      }
    ],
    "__elements": {},
    "__requires": [
      {
        "type"   : "grafana",
        "id"     : "grafana",
        "name"   : "Grafana",
        "version": "12.0.2"
      },
      {
        "type"   : "datasource",
        "id"     : "influxdb",
        "name"   : "InfluxDB",
        "version": "1.0.0"
      },
      {"type": "panel", "id": "table", "name": "Table", "version": ""}
    ],
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {"type": "grafana", "uid": "-- Grafana --"},
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 1,
    "id": null,
    "links": [],
    "liveNow": true,
    "panels": [
      {
        "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
        "fieldConfig": {
          "defaults": {
            "color": {"mode": "thresholds"},
            "custom": {
              "align": "auto",
              "cellOptions": {"type": "auto"},
              "filterable": true,
              "inspect": false
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [ {"color": "green"}, {"color": "red", "value": 80} ]
            }
          },
          "overrides": [
            {
              "matcher": {"id": "byName", "options": "id"},
              "properties": [ {"id": "custom.width", "value": 97} ]
            },
            {
              "matcher": {"id": "byName", "options": "instance"},
              "properties": [ {"id": "custom.width", "value": 108} ]
            },
            {
              "matcher": {"id": "byName", "options": "project"},
              "properties": [ {"id": "custom.width", "value": 84} ]
            },
            {
              "matcher": {"id": "byName", "options": "query_time"},
              "properties": [
                {"id": "custom.width", "value": 103},
                {
                  "id": "custom.cellOptions",
                  "value": {"type": "color-background"}
                },
                {"id": "unit", "value": "s"},
                {
                  "id": "thresholds",
                  "value": {
                    "mode": "absolute",
                    "steps": [
                      {"color": "green"                       },
                      {"color": "#6ED0E0",   "value":     1000},
                      {"color": "#EAB839",   "value":    10000},
                      {"color": "#EF843C",   "value":   100000},
                      {"color": "light-red", "value":  1000000},
                      {"color": "dark-red",  "value": 10000000}
                    ]
                  }
                }
              ]
            },
            {
              "matcher": {"id": "byName", "options": "service"},
              "properties": [ {"id": "custom.width", "value": 91} ]
            },
            {
              "matcher": {"id": "byName", "options": "state"},
              "properties": [ {"id": "custom.width", "value": 376} ]
            },
            {
              "matcher": {"id": "byName", "options": "user"},
              "properties": [ {"id": "custom.width", "value": 122} ]
            },
            {
              "matcher": {"id": "byName", "options": "command"},
              "properties": [ {"id": "custom.width", "value": 116} ]
            },
            {
              "matcher": {"id": "byName", "options": "zone"},
              "properties": [ {"id": "custom.width", "value": 119} ]
            },
            {
              "matcher": {"id": "byName", "options": "Time"},
              "properties": [ {"id": "custom.width", "value": 161} ]
            },
            {
              "matcher": {"id": "byName", "options": "host"},
              "properties": [ {"id": "custom.width", "value": 194} ]
            }
          ]
        },
        "gridPos": {"h": 14, "w": 24, "x": 0, "y": 0},
        "id": 1,
        "options": {
          "cellHeight": "sm",
          "footer": {
            "countRows": false,
            "fields": "",
            "reducer": ["sum"],
            "show": false
          },
          "showHeader": true,
          "sortBy": [ {"desc": true, "displayName": "Time"} ]
        },
        "pluginVersion": "12.0.2",
        "targets": [
          {
            "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
            "query": "select * from \"1hrRP\".\"mysql_long_running_queries\" where time > now() - 1h and host =~ /^$host$/ and command != 'Binlog_Dump' and command != 'Daemon'\n",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "table"
          }
        ],
        "title": "Slow Queries Records",
        "transformations": [
          {
            "id": "organize",
            "options": {
              "excludeByName": {},
              "includeByName": {},
              "indexByName": {
                "Time"      :  0,
                "command"   :  2,
                "host"      : 10,
                "id"        :  4,
                "instance"  :  5,
                "project"   :  8,
                "query_time":  3,
                "service"   :  7,
                "state"     :  6,
                "user"      :  1,
                "zone"      :  9
              },
              "renameByName": {"instance": "MySQL DB"}
            }
          }
        ],
        "type": "table"
      }
    ],
    "schemaVersion": 41,
    "tags": ["mysql", "db"],
    "templating": {
      "list": [
        {
          "allowCustomValue": false,
          "current": {},
          "name": "InfluxDS",
          "options": [],
          "query": "influxdb",
          "refresh": 1,
          "regex": "",
          "type": "datasource"
        },
        {
          "allowCustomValue": false,
          "current": {},
          "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
          "definition": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"project\" WHERE service = 'mysql'",
          "name": "project",
          "options": [],
          "query": {
            "query": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"project\" WHERE service = 'mysql'",
            "refId": "InfluxVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "type": "query"
        },
        {
          "allowCustomValue": false,
          "current": {},
          "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
          "definition": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"zone\" WHERE project = '$project' and service = 'mysql'",
          "name": "zone",
          "options": [],
          "query": {
            "query": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"zone\" WHERE project = '$project' and service = 'mysql'",
            "refId": "InfluxVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "type": "query"
        },
        {
          "current": {},
          "datasource": {"type": "influxdb", "uid": "${InfluxDS}"},
          "definition": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"host\" WHERE project = '$project' and zone = '$zone' and service = 'mysql'",
          "includeAll": true,
          "name": "host",
          "options": [],
          "query": {
            "query": "SHOW TAG VALUES FROM \"app_metrics\" WITH KEY = \"host\" WHERE project = '$project' and zone = '$zone' and service = 'mysql'",
            "refId": "InfluxVariableQueryEditor-VariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "type": "query"
        },
        {
          "auto": true,
          "auto_count": 30,
          "auto_min": "1m",
          "current": {"text": "$__auto", "value": "$__auto"},
          "name": "interval",
          "options": [
            {"selected": false, "text": "1m",  "value": "1m" },
            {"selected": false, "text": "5m",  "value": "5m" },
            {"selected": false, "text": "10m", "value": "10m"},
            {"selected": false, "text": "30m", "value": "30m"},
            {"selected": false, "text": "1h",  "value": "1h" },
            {"selected": false, "text": "6h",  "value": "6h" },
            {"selected": false, "text": "12h", "value": "12h"},
            {"selected": false, "text": "1d",  "value": "1d" },
            {"selected": false, "text": "7d",  "value": "7d" },
            {"selected": false, "text": "14d", "value": "14d"},
            {"selected": false, "text": "30d", "value": "30d"}
          ],
          "query": "1m,5m,10m,30m,1h,6h,12h,1d,7d,14d,30d",
          "refresh": 2,
          "type": "interval"
        }
      ]
    },
    "time": {"from": "now-3h", "to": "now"},
    "timepicker": {
      "hidden": true,
      "refresh_intervals": ["15m", "30m", "1h", "2h", "1d"]
    },
    "timezone": "Asia/Kolkata",
    "title": "MySQL Slow Queries",
    "uid": "777selMySQ",
    "version": 3,
    "weekStart": ""
  }
}
