[global_tags]
  project = "{{ project }}"
  zone = "{{ zone }}"
  nodeIP = "{{ ansible_host }}"
  service = "infra"

[agent]
  debug = true
  quiet = false
  interval = "50s"
  flush_interval = "30s"
  logfile = "{{ telegraf_remote_path }}/telegraf/logs/telegraf_{{ telegraf_name }}.log"
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_jitter = "0s"
  precision = "0s"
  logfile_rotation_interval = "12h"
  logfile_rotation_max_size = "100MB"
  logfile_rotation_max_archives = 5

############### Infra Inputs ################
[[inputs.netstat]]
[[inputs.kernel]]
[[inputs.linux_sysctl_fs]]

[[inputs.exec]]
  commands = ["/bin/bash -c 'cat /etc/os-release | grep PRETTY_NAME'"]
  timeout = "5s"
  data_format = "grok"
  name_override = "os_info"
  grok_patterns = ['PRETTY_NAME="%{GREEDYDATA:os_description}"']

[[inputs.exec]]
  commands = ["echo 'host_IP,host={{ inventory_hostname }} lclIP=\"{{ ansible_host }}\"'"]
  data_format = "influx"
  name_override = "host_IP"
  interval = "10s"
  timeout = "5s"


[[inputs.cpu]]
  percpu = true
  totalcpu = true
  report_active = true


[[inputs.mem]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]

[[inputs.system]]
  fieldinclude = ["uptime", "load1", "load5", "load15", "n_cpus"]

[[inputs.net]]
  interfaces = ["*"]

####### Port Status for {{ inventory_hostname }} #######
{% for item in ports %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ item.ip }}:{{ item.port }}"
  name_override = "portResponsetime"
  tags = { linkName="{{ item.name }}", ip="{{ item.ip }}", port="{{ item.port }}", host="{{ inventory_hostname }}" }
{% endfor %}

############## Ping Monitoring ################
[[inputs.ping]]
  {% set unique_ips = ports | map(attribute='ip') | unique %}
  urls = [{% for ip in unique_ips %}"{{ ip }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  count = 1
  ping_interval = 1.0
  timeout = 1.0
  method = "exec"
  interval = "50s"

##### App Metrics ###########
[[inputs.exec]]
  commands = ["{{ telegraf_remote_path }}/scripts/{{ telegraf_name }}_app_metrics.sh"]
  data_format = "influx"
  name_override = "app_metrics"
  interval = "1m"
  timeout = "50s"

# NTP Sync Status Monitor
[[inputs.exec]]
  commands = ["{{ telegraf_remote_path }}/scripts/{{ telegraf_name }}_ntp_status.sh"]
  data_format = "influx"
  name_override = "ntp_sync_status"
  interval = "1m"
  timeout = "5s"
  
############### Outputs to InfluxDB1 ################
[[outputs.influxdb]]
  urls = ["http://{{ influx_Pri_IP }}:{{ influx_Pri_Port }}"]
  database = "{{ influx_priDB_name }}"
  retention_policy = "thirty_days"
  timeout = "5s"
  namepass = ["os_info","cpu","disk","diskio","mem","net","system","host_IP","portResponsetime","ip_listener_status","ping","app_metrics","kernel","linux_sysctl_fs","netstat","ntp_sync_status"]

{% if influx_Sec_IP is defined and influx_Sec_IP|length > 0 %}
[[outputs.influxdb]]
  urls = ["http://{{ influx_Sec_IP }}:{{ influx_Sec_Port }}"]
  database = "{{ influx_secDB_name }}"
  retention_policy = "thirty_days"
  timeout = "5s"
  namepass = ["os_info","cpu","disk","diskio","mem","net","system","host_IP","portResponsetime","ip_listener_status","ping","app_metrics","kernel","linux_sysctl_fs","netstat","ntp_sync_status"]
{% endif %}