#!/bin/bash

HOSTNAME=$(hostname | tr '[:lower:]' '[:upper:]')

# Get NTP enabled and synchronized statuses
status=$(timedatectl status | awk -F: '
/NTP enabled/ {
  gsub(/ /, "_", $1);
  gsub(/ /, "", $2);
  enabled=($2=="yes") ? 1 : 0;
}
/NTP synchronized/ {
  gsub(/ /, "_", $1);
  gsub(/ /, "", $2);
  synced=($2=="yes") ? 1 : 0;
}
END {
  print enabled, synced;
}')

enabled=$(echo $status | cut -d' ' -f1)
synced=$(echo $status | cut -d' ' -f2)

# Print Influx line protocol
echo "ntp_sync_status,host=${HOSTNAME} NTP_enabled=${enabled},NTP_synchronized=${synced}"

