[global_tags]
  project = "{{ project }}"
  zone = "{{ zone }}"
  service = "ol"

[agent]
  debug = true
  quiet = false
  interval = "30s"
  flush_interval = "10s"
  logfile = "/opt/airlinq/grafana/telegraf/{{ telegraf_name }}_telegraf.log"
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_jitter = "0s"
  precision = "0s"
  logfile_rotation_interval = "12h"
  logfile_rotation_max_size = "100MB"
  logfile_rotation_max_archives = 5

####### Port Status for {{ inventory_hostname }} #######
{% for item in ports %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ item.ip }}:{{ item.port }}"
  name_override = "portResponsetime"
  tags = { linkName="{{ item.name }}", ip="{{ item.ip }}", port="{{ item.port }}", host="{{ inventory_hostname }}" }
{% endfor %}

############# Link Status #########
{% for port in ports if port.port is defined %}
[[inputs.exec]]
  commands = [
    "bash -c 'echo -n \"port_status,host={{ inventory_hostname }},name={{ port.name | default('unknown') }},port={{ port.port }} status=\"; (ss -ltn | grep -q {{ port.port }}) && echo 1 || echo 0'"
  ]
  timeout = "5s"
  data_format = "influx"
  name_override = "IPPort_Status"
{% endfor %}

{% for p in ports %}
[[inputs.exec]]
  commands = [
    "bash -c 'ss -nt | awk '\\''$4 ~ /:{{ p.port }}$/ { state[$1]++ } END { for (s in state) printf \"ip_listener_status,host={{ inventory_hostname }},name={{ p.name | default('unknown') }},ip={{ p.ip | default('*') }},port={{ p.port }},state=%s connections=%d\\n\", s, state[s] }'\\'''"
  ]
  timeout = "5s"
  data_format = "influx"
  name_override = "ip_listener_status"
{% endfor %}

############## Ping Monitoring ################
[[inputs.ping]]
  {% set unique_ips = ports | map(attribute='ip') | unique %}
  urls = [{% for ip in unique_ips %}"{{ ip }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  count = 2
  ping_interval = 3.0
  timeout = 2.0
  method = "exec"

##### App Metrics ###########
[[inputs.exec]]
  commands = ["/opt/grafana/scripts/{{ telegraf_name }}_app_metrics.sh"]
  data_format = "influx"
  name_override = "app_metrics"
  interval = "1m"
  timeout = "50s"

[[inputs.prometheus]]
  urls = ["http://localhost:9200/metrics"]
  name_override = "tomcat_metrics"
  interval = "1m"
  timeout = "50s"
  metric_version = 2  # Version 2 is preferred for Prometheus-style naming

[[inputs.tail]]
  files = ["/opt/airlinq/apache-tomcat-*/logs/catalina.out"]
  initial_read_offset = "beginning"
  name_override = "OL_catalina_logs"
  tags = { app = "ol" }
  data_format = "grok"
  grok_patterns = ["%{CATALINA_LOG_LINE}"]
  grok_custom_patterns = '''
  CATALINA_LOG_LINE %{TIMESTAMP_ISO8601:log_time}\s+(\[%{DATA:thread}\]|%{DATA:thread})\s+%{LOGLEVEL:log_level}\s+%{DATA:class}\s+-\s+%{GREEDYDATA:message}
'''

[[processors.converter]]
  namepass = ["OL_catalina_logs"]
  [processors.converter.fields]
    tag = ["class","log_level"]

########  Outputs #########
[[outputs.influxdb]]
  urls = ["http://{{ influx_Pri_IP }}:{{ influx_Pri_Port }}"]
  database = "{{ influx_priDB_name }}"
  retention_policy = "thirty_days"
  timeout = "5s"
  namepass = ["IPPort_Status","portResponsetime","ip_listener_status","ping","app_metrics","tomcat_metrics"]

[[outputs.influxdb]]
  urls = ["http://{{ influx_Pri_IP }}:{{ influx_Pri_Port }}"]
  database = "{{ influx_priDB_name }}"
  retention_policy = "1hrRP"
  timeout = "5s"
  namepass = ["OL_catalina_logs"]

{% if influx_Sec_IP is defined and influx_Sec_IP|length > 0 %}
[[outputs.influxdb]]
  urls = ["http://{{ influx_Sec_IP }}:{{ influx_Sec_Port }}"]
  database = "{{ influx_secDB_name }}"
  retention_policy = "thirty_days"
  timeout = "5s"
  namepass = ["IPPort_Status","portResponsetime","ip_listener_status","ping","app_metrics","tomcat_metrics"]

[[outputs.influxdb]]
  urls = ["http://{{ influx_Sec_IP }}:{{ influx_Sec_Port }}"]
  database = "{{ influx_secDB_name }}"
  retention_policy = "1hrRP"
  timeout = "5s"
  namepass = ["OL_catalina_logs"]
{% endif %}