{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "SMS Error logs in last 5 mins.",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 900, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "datasource": {
          "type": "influxdb",
          "uid" : "{{ datasourceUid }}"
        },
        "instant": false,
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "select sum(log_count) from \"thirty_days\".\"CQ_smsc_log_level_count_1m\" where $timeFilter and log_level = 'E' group by time(5m),class, log_level",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "-100",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "-100"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "-100",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [150], "type": "gt" },
            "operator": {"type": "and"},
            "query": { "params": ["C"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "-100"},
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {},
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
        "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

