---
- name: Provision Grafana Notification Policies
  hosts: grafana
  vars_files:
    - "../group_vars/grafana.yml"
  tasks:

    - name: Build notification policy JSON
      set_fact:
        grafana_notification_policy: |
          {
            "name": "AlertGroupsPolicy",
            "org_id": 1,
            "receiver": "{{ (grafana_alert_notifications.keys() | list | first) }}-emails",
            "group_by": ["alertname"],
            "routes": [
              {% for type, cfg in grafana_alert_notifications.items() %}
                {
                  "receiver": "{{ type }}-teams",
                  "object_matchers": [["type", "=", "{{ type }}"]]
                }{% if not loop.last %},{% endif %}
              {% endfor %}
            ]
          }

    - name: Push notification policy to Grafana
      uri:
        url: "{{ grafana_server.protocol }}://{{ grafana_server.domain }}:{{ grafana_server.port }}/api/v1/provisioning/policies"
        method: PUT
        headers:
          Content-Type: "application/json"
          Authorization: "Bearer {{ grafana_api_key }}"
        body_format: json
        body: "{{ grafana_notification_policy }}"
        status_code: [200, 201, 202]
      delegate_to: localhost
