---
- name: Delete Grafana contacts and notifications but keep Default
  hosts: all
  vars_files:
    - "../group_vars/grafana.yml"
  tasks:

    - name: Get notification policies
      uri:
        url: "{{ grafana_api_url }}/api/v1/provisioning/policies"
        method: GET
        headers:
          Authorization: "Bearer {{ grafana_api_key }}"
        return_content: yes
      register: notif_policy
      delegate_to: localhost

    - name: Keep only Default as root receiver (remove all routes)
      set_fact:
        updated_policy: >-
          {{
            notif_policy.json |
            combine({'receiver': 'Default', 'routes': []})
          }}

    - name: Push updated notification policy tree
      uri:
        url: "{{ grafana_api_url }}/api/v1/provisioning/policies"
        method: PUT
        headers:
          Authorization: "Bearer {{ grafana_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body: "{{ updated_policy }}"
        status_code: [200, 202]
      delegate_to: localhost

    - name: Get all contact points
      uri:
        url: "{{ grafana_api_url }}/api/v1/provisioning/contact-points"
        method: GET
        headers:
          Authorization: "Bearer {{ grafana_api_key }}"
        return_content: yes
      register: contact_points
      delegate_to: localhost

    - name: Delete all contact points except Default
      uri:
        url: "{{ grafana_api_url }}/api/v1/provisioning/contact-points/{{ item.uid }}"
        method: DELETE
        headers:
          Authorization: "Bearer {{ grafana_api_key }}"
        status_code: [200, 202, 404]
      loop: "{{ contact_points.json | rejectattr('name','equalto','Default') | list }}"
      loop_control:
        label: "{{ item.name }}"
      delegate_to: localhost
