[meta]
  dir = "{{ influx_data_dir }}/meta"
  logging-enabled = true

[data]
  dir = "{{ influx_data_dir }}/data"
  wal-dir = "{{ influx_data_dir }}/wal"
  index-version = "tsi1"
  query-log-enabled = true
  series-id-set-cache-size = 100

[http]
  enabled = true
  bind-address = ":{{ influx_Pri_Port }}"
  # auth-enabled = false

[coordinator]
  # write-timeout = "10s"
  # max-concurrent-queries = 0

[retention]
  enabled = true
  check-interval = "30m"
  [retention.policies]
    [retention.policies."30days"]
      duration = "30d"
      shard-group-duration = "7d"
      replica-identity = "30days"

[shard-precreation]
  # enabled = true

[monitor]
  # store-enabled = true

[logging]
  file = "{{ influx_path }}/logs/influxd.log"
  level = "info"
  format = "auto"
  suppress-logo = false
