[Unit]
Description=Manage Java service
 
[Service]
WorkingDirectory={{ path }}
ExecStart=/usr/bin/java {{ java_opts }} -jar {{ path }}/jmx_prometheus_httpserver.jar {{ port }} {{ path }}/jmxconfig.yml
User={{ user }}
Type=simple
Restart=on-failure
RestartSec=10
 
[Install]
WantedBy=multi-user.target
