[Unit]
Requires=zookeeper.service
After=zookeeper.service
 
[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart={{ exec_start }}
ExecStop={{ exec_stop }}
# Restart=on-abnormal
Environment=KAFKA_OPTS=-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar={{ kafka_port }}:/opt/jmx_exporter/jmx_kafka.conf
 
[Install]
WantedBy=multi-user.target
