global:
  scrape_interval: 50s
  evaluation_interval: 50s
  scrape_timeout: 40s
# query_log_file: /etc/prometheus/query.log

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:

############# {{ project_name }}_Prometheus  ###########
  - job_name: "{{ project_name }}_prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          job: prometheus
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['all_servers'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9090"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_Blackbox  ###########
  - job_name: '{{ project_name }}_blackbox'
    metrics_path: /probe
    params:
      module: [http_prometheus]
    static_configs:
      - targets: ["https://10.221.86.103:3000"]   # Target to probe with https.
        labels:
          job: blackbox
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 10.221.86.103:9115  # The blackbox exporter's real hostname:port.

############# {{ project_name }}_NodeExporter ###########
  - job_name: '{{ project_name }}_nodeExporter'
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['all_servers'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9100"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "node"
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['all_servers'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9100"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_Mysql ###########
  - job_name: "{{ project_name }}_MySQL"
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['mysql'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9104"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "mysql"  
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['mysql'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9104"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_BSS ###########
  - job_name: "{{ project_name }}_BSS"
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['bss'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9200"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "bss"
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['bss'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9200"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_api ###########
  - job_name: "{{ project_name }}_api"
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['api'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9200"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "api"
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['api'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9200"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_Kafka ###########
  - job_name: '{{ project_name }}_Kafka'
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['kafka'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':7071"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "kafka"
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['kafka'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:7071"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_Nginx ###########
  - job_name: '{{ project_name }}_Nginx'
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['nginx'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9113"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: "nginx"
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['nginx'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9113"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

############# {{ project_name }}_react ###########
  - job_name: '{{ project_name }}_react'
    static_configs:
      - targets:
          {%- set targets = [] %}
          {%- for host in groups['react'] %}
            {%- set _ = targets.append('"' + hostvars[host].ansible_host + ':9113"') %}
          {%- endfor %}
          [{{ targets | join(', ') }}]
        labels:
          job: react
          project: '{{ project_name }}'
          circle: '{{ zone_name }}'
    relabel_configs:
      - source_labels: [__address__]
        regex: "([^:]+):\\d+"
        target_label: instance
      {%- for host in groups['react'] %}

      - source_labels: [__address__]
        regex: "{{ hostvars[host].ansible_host }}:9113"
        target_label: hostname
        replacement: "{{ hostvars[host].ansible_hostname | default(host) }}"
      {%- endfor %}

