{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "BSS-SQL Connection Failure [SQL Exception]",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT count(message) FROM \"thirty_days\".\"KBssCatalina_Errors\" WHERE $timeFilter group by time(1m),\"class\",\"log_level\", project, zone, host,source fill(null)",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "settings": {"mode": "dropNN"},
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [0, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {
    "description": "BSS Connection Timeout Error\nThe BSS system encountered a database connection pool timeout. Specifically, the Hikari connection pool failed to provide a connection within 10 seconds (10029ms), resulting in the error:\n\nThis indicates that all connections in the pool are in use or unavailable, potentially causing degraded performance or service interruptions. Immediate investigation is recommended to check database connectivity, pool configuration, and application load."
  },
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
    "type"    : "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

