{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "BSS Bypass Detected in OCS",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT last(value) AS \"BSS-by-Pass Status\" FROM \"BSSbyPass\" WHERE $timeFilter group by time(1m),project,zone,host",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [500], "type": "gt" },
            "operator": {"type": "and"},
            "query": { "params": ["C"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {
    "description": "BSS-Bypassed Alert: A transaction in the Online Charging System (OCS) has bypassed the Business Support System (BSS) as part of DRA processing. This may indicate policy misconfigurations, routing issues, or unexpected system behavior. Bypassed BSS transactions can affect billing, charging accuracy, or downstream service enforcement. Verify DRA rules, BSS connectivity, and OCS transaction logs immediately to identify the root cause."
  },
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
        "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

