{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "Diameter-High Request Response Time (>500ms)",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "select last(avg_duration_ms) from \"thirty_days\".\"CQ_DRA_MeanProcessTime_ms\" where $timeFilter group by time(1m),hostname",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [500], "type": "gt" },
            "operator": {"type": "and"},
            "query": { "params": ["C"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {
    "description": "Diameter High Request Response Time: One or more Diameter requests are taking longer than 500ms to receive a response. This may indicate network latency, overloaded Diameter servers, or processing delays. High response times can impact user sessions, authentication, or service provisioning. Investigate server performance, network connectivity, and peer status immediately."
  },
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
        "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

