{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "DRA Traffic Spike Detected in Last Minutes",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT sum(ResponseCount) FROM \"CQ_DRASuccessFailure1mAggr\" WHERE $timeFilter group by time(1m),\"ResultCode\", project, zone, host fill(null)",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "mean",
        "refId": "B",
        "settings": {"mode": "dropNN"},
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [45000, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "B",
        "hide": false,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {
    "description": "A sudden spike in DRA traffic has been detected in the last 5-minute interval.\nThis may indicate abnormal signaling load or unexpected activity from connected nodes.\n\nPlease verify if the increase is expected (e.g., maintenance, traffic cutover), or investigate possible causes such as:\n\nMisbehaving Diameter peers\nRepeated re-transmissions or transaction floods\nDRA configuration issues\n\n📌 Recommended Actions:\nReview DRA logs and trace sessions.\nCheck for anomalies in FlowName, ResultCode, or host dimensions.\nCorrelate with SNMP or trap alerts."
  },
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
    "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

