{
  "folderUID": "{{ folder_uid }}",
  "orgId": "{{ org_id }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "High Memory Usage Server",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 600, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "alias": "",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT last(\"used_percent\")\nFROM \"mem\"\nWHERE $timeFilter\nGROUP BY time(1m), host,project, zone,service fill(null)\n",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {
        "from": 300,
        "to": 0
      },
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {
              "params": [
                500
              ],
              "type": "gt"
            },
            "operator": {
              "type": "and"
            },
            "query": {
              "params": [
                "C"
              ]
            },
            "reducer": {
              "params": [],
              "type": "last"
            },
            "type": "query"
          }
        ],
        "datasource": {
          "type": "__expr__",
          "uid": "__expr__"
        },
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "OK",
  "for": "2m",
  "labels": {
    "platform": "{{ project }}",
    "zone": "{{ zone }}",
    "severity": "CRITICAL",
        "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false,
  "uid": "{{ alert_uid }}"
}

