{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "High OL-localHost Access logs observed in last 5 mins",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 900, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "datasource": {"type": "influxdb", "uid": "{{ datasourceUid }}"},
        "instant": false,
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "select sum(CDRCounts) from \"thirty_days\".\"CQ_Access_Logs_1m\" where $timeFilter and response_code !~ /^2\\d{2}$/ group by time(5m),client_ip, response_code,project,host,service,zone fill(0)",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "settings": {"mode": "replaceNN", "replaceWithValue": 0},
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [7000], "type": "gt" },
            "operator": {"type": "and"},
            "query": { "params": ["C"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "KeepLast",
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "MAJOR",
        "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

