{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "Kafka Consumer Lag Too High",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "datasource": {"type": "influxdb", "uid": "{{ datasourceUid }}"},
        "instant": true,
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT last(\"kafka_consumergroup_lag\") FROM \"kafka_consumergroup_lag\" WHERE $timeFilter AND \"consumergroup\" !~ /console-consumer-.*/\nAND \"topic\" =~ /^(r\\.airlinq\\.airocs\\.imei\\.events|m\\.airlinq\\.airocs\\.imei\\.events|b\\.airlinq\\.airocs\\.imei\\.events|bss_session_notification_br|bss_cdr_events_br|aq_test1|bss_session_notification|cdc_aircontrol299\\.myindian1\\.tdata_bucket|cdc1_aircontrol\\.myindian2\\.tdata_bucket)$/ GROUP BY time(1m), \"topic\", \"consumergroup\",project,zone,host,nodeIP fill(null)",
        "rawQuery": true,
        "refId": "A",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "B",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [0, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "B",
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [500, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "B",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "OK",
  "annotations": {
    "description": "{% raw %}The consumer group {{ $labels.consumergroup }} for topic {{ $labels.topic }} is lagging significantly behind. Potential slow consumer, network issue, or backlog.{% endraw %}"
  },
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
    "type"    : "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}
