{
  "uid": "{{ alert_uid }}",
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "Network link down in last 1 min intrvl",
  "condition": "E",
  "data": [
    {
      "refId": "Previous 5 Minutes",
      "relativeTimeRange": {"from": 600, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT last(\"estab\") AS curr FROM port_monitor \nWHERE time > now() - 2m AND time <= now() - 1m\nGROUP BY time(1m), ip, port, \"name\", host, project, zone fill(null)",
        "rawQuery": true,
        "refId": "Previous 5 Minutes",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "Current 5 Minutes",
      "relativeTimeRange": {"from": 600, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "datasource": {"type": "influxdb", "uid": "{{ datasourceUid }}"},
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "query": "SELECT last(\"estab\") AS prev FROM port_monitor \nWHERE time > now() - 3m AND time <= now() - 2m\nGROUP BY time(1m), ip, port, \"name\", host, project, zone fill(null)\n\n\n",
        "rawQuery": true,
        "refId": "Current 5 Minutes",
        "resultFormat": "time_series"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [0, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "Previous 5 Minutes",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "C",
        "settings": {"mode": "dropNN"},
        "type": "reduce"
      }
    },
    {
      "refId": "D",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [0, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "Current 5 Minutes",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "last",
        "refId": "D",
        "settings": {"mode": "dropNN"},
        "type": "reduce"
      }
    },
    {
      "refId": "E",
      "relativeTimeRange": {"from": 0, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [0, 0], "type": "gt" },
            "operator": {"type": "and"},
            "query": {"params": []},
            "reducer": {"params": [], "type": "avg"},
            "type": "query"
          }
        ],
        "datasource": {
          "name": "Expression",
          "type": "__expr__",
          "uid" : "__expr__"
        },
        "expression": "$C != 0 && $D == 0",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "E",
        "type": "math"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "Error",
  "annotations": {},
  "labels": {
    "platform": "{{ project }}",
    "zone"    : "{{ zone }}",
    "severity": "CRITICAL",
    "type": "{{ (rulegroup | string).split('_')[0] }}"
  },
  "isPaused": false
}

