{
          "folderUID": "{{ folder_uid }}",
          "orgId": {{ org_id }},
          "ruleGroup": "{{ rulegroup }}",
          "title": "High Disc Usage Server",
          "condition": "C",
          "data": [
            {
              "refId": "A",
              "relativeTimeRange": {
                "from": 300,
                "to": 0
              },
              "datasourceUid": "{{ datasourceUid }}",
              "model": {
                "adhocFilters": [],
                "alias": "",
                "datasource": {
                  "type": "influxdb",
                  "uid": "{{ datasourceUid }}"
                },
                "instant": false,
                "intervalMs": 1000,
                "limit": "",
                "maxDataPoints": 43200,
                "measurement": "",
                "policy": "",
                "query": "SELECT last(\"used_percent\") \nFROM \"disk\" \nWHERE $timeFilter AND \"path\" != '/' AND \"path\" !~ /^\\/bk.*/ \nGROUP BY time(1m), \"host\", \"path\", \"project\", \"zone\"\n",
                "range": true,
                "rawQuery": true,
                "rawSql": "",
                "refId": "A",
                "resultFormat": "time_series",
                "slimit": "",
                "tz": ""
              }
            },
            {
              "refId": "Percentage Used",
              "relativeTimeRange": {
                "from": 0,
                "to": 0
              },
              "datasourceUid": "__expr__",
              "model": {
                "conditions": [
                  {
                    "evaluator": {
                      "params": [],
                      "type": "gt"
                    },
                    "operator": {
                      "type": "and"
                    },
                    "query": {
                      "params": [
                        "B"
                      ]
                    },
                    "reducer": {
                      "params": [],
                      "type": "last"
                    },
                    "type": "query"
                  }
                ],
                "datasource": {
                  "type": "__expr__",
                  "uid": "__expr__"
                },
                "expression": "A",
                "intervalMs": 1000,
                "maxDataPoints": 43200,
                "reducer": "last",
                "refId": "Percentage Used",
                "type": "reduce"
              }
            },
            {
              "refId": "C",
              "relativeTimeRange": {
                "from": 0,
                "to": 0
              },
              "datasourceUid": "__expr__",
              "model": {
                "conditions": [
                  {
                    "evaluator": {
                      "params": [
                        90
                      ],
                      "type": "gt"
                    },
                    "operator": {
                      "type": "and"
                    },
                    "query": {
                      "params": [
                        "C"
                      ]
                    },
                    "reducer": {
                      "params": [],
                      "type": "last"
                    },
                    "type": "query"
                  }
                ],
                "datasource": {
                  "type": "__expr__",
                  "uid": "__expr__"
                },
                "expression": "Percentage Used",
                "intervalMs": 1000,
                "maxDataPoints": 43200,
                "refId": "C",
                "type": "threshold"
              }
            }
          ],
          "noDataState": "OK",
          "execErrState": "OK",
          "for": "10m",
          "annotations": {},
          "labels":{"platform":"{{ project }}","zone":"{{ zone }}","severity":"CRITICAL",    "type": "{{ (rulegroup | string).split('_')[0] }}"},
          "isPaused": false,
          "uid": "{{ alert_uid }}"
        }
