{
  "folderUID": "{{ folder_uid }}",
  "ruleGroup": "{{ rulegroup }}",
  "title": "MySQL Long-Running Queries (1 hour Duration) Detected.",
  "interval": "1h",
  "condition": "C",
  "data": [
    {
      "refId": "A",
      "relativeTimeRange": {"from": 900, "to": 0},
      "datasourceUid": "{{ datasourceUid }}",
      "model": {
        "adhocFilters": [],
        "alias": "",
        "datasource": {"type": "influxdb", "uid": "{{ datasourceUid }}"},
        "instant": false,
        "intervalMs": 1000,
        "limit": "",
        "maxDataPoints": 43200,
        "measurement": "",
        "policy": "",
        "query": "select max(\"query_time\") from \"thirty_days\".\"mysql_long_running_queries\" where time > now() - 5m AND \"user\" != 'system_user' group by time(1m), \"host\",\"state\",\"user\",\"command\",\"instance\",\"project\",\"zone\" fill(0)",
        "range": true,
        "rawQuery": true,
        "rawSql": "",
        "refId": "A",
        "resultFormat": "time_series",
        "slimit": "",
        "tz": ""
      }
    },
    {
      "refId": "SlowQueryTimeinSec",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": {"params": [], "type": "gt"},
            "operator": {"type": "and"},
            "query": { "params": ["B"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "A",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "reducer": "max",
        "refId": "SlowQueryTimeinSec",
        "settings": {"mode": "replaceNN", "replaceWithValue": 0},
        "type": "reduce"
      }
    },
    {
      "refId": "C",
      "relativeTimeRange": {"from": 300, "to": 0},
      "datasourceUid": "__expr__",
      "model": {
        "conditions": [
          {
            "evaluator": { "params": [3200], "type": "gt" },
            "operator": {"type": "and"},
            "query": { "params": ["C"] },
            "reducer": {"params": [], "type": "last"},
            "type": "query"
          }
        ],
        "datasource": {"type": "__expr__", "uid": "__expr__"},
        "expression": "SlowQueryTimeinSec",
        "intervalMs": 1000,
        "maxDataPoints": 43200,
        "refId": "C",
        "type": "threshold"
      }
    }
  ],
  "noDataState": "OK",
  "execErrState": "OK",
  "for": "0s",
          "labels":{"platform":"{{ project }}","zone":"{{ zone }}","severity":"CRITICAL",    "type": "{{ (rulegroup | string).split('_')[0] }}"},
  "isPaused": false,
  "uid": "{{ alert_uid }}"
}

